<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('./includes/header.ejs') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Page not found</h1>
      <p>
        Unfortunately we weren't able to find this page!
      </p>
      <p>
       <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?t=st=1734027148~exp=1734030748~hmac=eaae88c3d1b8881b40b27bead23d74b7a14abbba15c06cf2e8cd111b860aa604&w=740" alt="Broken Robot" />
      </p>
    </main>
  </body>
</html>
