<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('./includes/header.ejs') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>
        Unfortunatelysomething went wrong on the server!
      </p>
      <p>
       We are doing our best to fix it as quickly as possible.
      </p>
    </main>
  </body>
</html>
